* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #2C786C;
}

::-webkit-scrollbar-thumb:hover {
  background: #004445;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

main .kiri, main .kanan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  position: relative;
}

main .kiri {
  background-color: #FAF5E4;
  z-index: 2;
  -webkit-animation: loading 1s cubic-bezier(0.86, 0.46, 0.83, 0.67);
          animation: loading 1s cubic-bezier(0.86, 0.46, 0.83, 0.67);
  -webkit-transition: -webkit-animation 200ms;
  transition: -webkit-animation 200ms;
  transition: animation 200ms;
  transition: animation 200ms, -webkit-animation 200ms;
}

main .kiri .shield {
  z-index: 1;
  position: absolute;
  top: 30px;
}

main .kiri .gunung {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

main .kanan {
  z-index: 1;
}

main .kanan .art, main .kanan .card-abu {
  z-index: -1;
  position: absolute;
  right: -15px;
}

main .kanan .art {
  top: 0;
  width: 250px;
}

main .kanan .card-abu {
  bottom: 0;
}

main .kanan form .container__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .kanan form .container__input .input__wrapper p {
  margin-top: 15px;
  font-size: 12px;
}

main .kanan form .container__input .input__wrapper p a {
  color: #F8B400;
}

main .kanan form .container__input .input__wrapper .cancel {
  margin-top: 15px;
  border: 1px solid #F8B400;
  border-radius: 30px;
  padding: 7px !important;
  width: 300px;
  color: #F8B400;
  -webkit-transition: 200ms;
  transition: 200ms;
  font-size: 14px;
}

main .kanan form .container__input .input__wrapper .cancel:hover {
  color: black;
  background: #F8B400 !important;
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  font-weight: 600;
}

main .kanan form .container__input .input__wrapper .password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .kanan form .container__input .input__wrapper .password label {
  font-size: 12px;
}

main .kanan form .container__input .input__wrapper .password .checkbox input[type="checkbox"] {
  -webkit-transform: translateY(3px) translateX(-30px);
          transform: translateY(3px) translateX(-30px);
  opacity: 0;
  z-index: 1;
  position: relative;
}

main .kanan form .container__input .input__wrapper .password .checkbox #mata, main .kanan form .container__input .input__wrapper .password .checkbox #buta {
  position: absolute;
  z-index: 0;
  -webkit-transition: 200ms;
  transition: 200ms;
}

main .kanan form .container__input .input__wrapper .password .checkbox #mata {
  opacity: 1;
  -webkit-transform: translateY(17px) translateX(-46px);
          transform: translateY(17px) translateX(-46px);
}

main .kanan form .container__input .input__wrapper .password .checkbox #buta {
  opacity: 0;
  -webkit-transform: translateY(-18px) translateX(-34px);
          transform: translateY(-18px) translateX(-34px);
}

.main__page form input[value="Logout"] {
  z-index: 2 !important;
  background: #F9F1D8 !important;
}

.main__page form input[value="Logout"]:hover {
  background: #F8B400 !important;
}

.main__page .profil__athallah {
  max-width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__page .profil__athallah .photo-profil {
  height: 288px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__page .profil__athallah .photo-profil .circle {
  -webkit-clip-path: circle(50.2% at 50% 0);
          clip-path: circle(50.2% at 50% 0);
  z-index: 1;
  -webkit-transition: 200ms;
  transition: 200ms;
  background: #F8B400;
  height: 288px;
  width: 750px;
  position: absolute;
}

.main__page .profil__athallah .photo-profil img.itsme {
  z-index: 1;
  position: relative;
  bottom: -57px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.1));
}

.main__page .profil__athallah header {
  margin: auto;
}

.main__page .profil__athallah header h1 {
  font-size: 48px;
  letter-spacing: 0.15em;
}

.main__page .profil__athallah article p {
  margin-bottom: 45px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  line-height: 150%;
}

.main__page .profil__athallah article .col-sm-12 {
  padding: 0 5px !important;
}

.main__page .profil__athallah article .card {
  border: none !important;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  height: 167px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.main__page .profil__athallah article .card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background: #F8B400;
}

.main__page .profil__athallah article .card:hover i {
  color: white;
}

.main__page .profil__athallah article .card i {
  -webkit-transition: 200ms;
  transition: 200ms;
  color: #F8B400;
  font-size: 50px;
}

footer {
  margin-top: -1px;
  background: #FEDC83;
  font-size: 12px !important;
}

footer .copyright {
  width: 50px;
}

main.sucess {
  height: 100vh;
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.sucess div {
  position: relative;
  top: -70px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main.sucess div header h1 {
  color: #000;
  font-size: 48px;
  font-weight: 500;
}

main.sucess div header h1 span {
  font-weight: bold;
  color: #2C786C;
}

main.sucess div a {
  background: #F8B400;
  font-size: 14px;
  width: 250px;
  padding: 13.38px 0;
  margin-top: 30px;
  font-weight: 600;
  -webkit-transition: 200ms;
  transition: 200ms;
}

main.sucess div a:hover {
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

main.sucess .gunung {
  position: absolute;
  width: 70%;
  bottom: 0;
}

.changeBG {
  background: red;
}

.bordered {
  border: 1px solid red !important;
}

h1 {
  font-weight: bold;
  color: #F8B400;
  font-size: 64px;
  letter-spacing: 0.05em;
}

h2, legend {
  font-size: 36px;
  color: #F8B400;
  font-weight: 600;
  letter-spacing: 0.05em;
}

h4 {
  color: rgba(0, 0, 0, 0.5);
}

.form-control:focus {
  border-color: #F8B400;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.015) inset, 0 0 4px #F8B400;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.015) inset, 0 0 4px #F8B400;
  outline: 0 none;
}

input {
  font-size: 14px !important;
  -webkit-transition: 200ms;
  transition: 200ms;
  border-radius: 30px !important;
  margin-top: 15px;
  border: none !important;
  background: #EFEFEF !important;
}

input[type="text"], input[type="number"], input[type="email"], input[type="password"], input[type="submit"] {
  height: 40px !important;
  width: 300px;
}

input::-webkit-input-placeholder {
  font-size: 14px;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

input:-ms-input-placeholder {
  font-size: 14px;
  transform: translateX(5px);
}

input::-ms-input-placeholder {
  font-size: 14px;
  transform: translateX(5px);
}

input::placeholder {
  font-size: 14px;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

input[type="submit"] {
  -webkit-transition: 200ms;
  transition: 200ms;
  color: black;
  background: #F8B400 !important;
  font-weight: 500;
}

input[type="submit"]:hover {
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

input[value="Logout"] {
  position: absolute;
  right: 15px;
  background: none !important;
  border: 1px solid #F8B400 !important;
  color: #F8B400 !important;
  width: 100px;
}

input[value="Logout"]:hover {
  background: #F8B400 !important;
  color: black !important;
}

@media screen and (max-width: 767px) {
  .kiri, .kanan {
    height: 100vh !important;
  }
  .main__page .profil__athallah .photo-profil .circle {
    -webkit-clip-path: circle(140px at 50% 50%);
            clip-path: circle(140px at 50% 50%);
    width: 100%;
  }
  .main__page .profil__athallah .photo-profil img.itsme {
    -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important;
    bottom: 0 !important;
  }
  .main__page .profil__athallah article .col-sm-12:nth-of-type(2) {
    margin: 15px 0 !important;
  }
  .main__page .profil__athallah article .card {
    width: 100% !important;
  }
  h1 {
    font-weight: bold;
    color: #F8B400;
    font-size: 55px;
    letter-spacing: 0.05em;
  }
  h4 {
    font-size: 21px;
    color: rgba(0, 0, 0, 0.5);
  }
  main.sucess div header h1 {
    text-align: center;
    font-size: 35px;
  }
  main.sucess div img {
    width: 100px;
  }
}

@-webkit-keyframes loading {
  0% {
    width: 100vw;
  }
  100% {
    width: 57vw;
  }
}

@keyframes loading {
  0% {
    width: 100vw;
  }
  100% {
    width: 57vw;
  }
}
/*# sourceMappingURL=style.css.map */